[class*="col-"]{
    padding-left: 0px;
    padding-right: 0px;
    
}
.navbar-nav li{
    width: 120px;
}
.dropdown-menu{
    width: 200px;
}
.navbar{
    position: absolute;
    top: 130px;
}
.mySlides {
    display:none;
    height: 700px;
    width:100%;
}
.social-icon{

display: flex;
}
.social-icon li {
list-style: none;
margin-top: 10px;
margin-left: 5;


}

.social-icon li a{
display: inline-block;
width: 40px;
height: 40px;
background: #403e3e;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
border-radius: 4px;
margin-left: 5px;
}
.social-icon li a:hover{
background: #f00;
}
.social-icon li a .fa{
color: #f0e5e5;
font-size: 20px;
}
.navbar_icon {
font-size: 50px;
margin-left: 800px;

}
#cart-icon  {
cursor: pointer;
}
#cart-icon:hover{
font-size: larger;
}
#user-icon{
cursor: pointer;
}
#user-icon:hover{
font-size: larger;
}